$bp-mobile: 480px;
$bp-tablet: 820px;
$bp-desktop: 1280px;

:root{
    --color_primary_white: #FFFFFF;
    --color_primary_orange: #FF9F0E;
    --color_primary_black: #181817;

    --color_secondary_orange:#FCB62A;
    --color_secondary_white:#FFFAF3;
    --color_secondary_middlepurple:#F1F3FF;
    --color_secondary_grey:#839AA9;
    --color_secondary_lightpurple:#F9F9FF;
    --color_secondary_purple:#D9A6FF;
}