$bp-mobile: 480px;
$bp-tablet: 820px;
$bp-desktop: 1280px;

:root {
  --color_primary_white: #ffffff;
  --color_primary_orange: #ff9f0e;
  --color_primary_black: #181817;

  --color_secondary_orange: #fcb62a;
  --color_secondary_white: #fffaf3;
  --color_secondary_middlepurple: #f1f3ff;
  --color_secondary_grey: #839aa9;
  --color_secondary_lightpurple: #f9f9ff;
  --color_secondary_purple: #d9a6ff;
}
