.button{
    padding: 16px 32px;
    background-color: var(--color_primary_orange);
    border-radius: 8px;
    color: var(--color_primary_white);
    border: none;
    cursor: pointer;
    margin: 20px 0;
    &:hover{
        background-color: var(--color_secondary_orange);
        color: var(--color_secondary_white);
    }
}

.swiper-button-next, .swiper-button-prev{
    
    background-color: var(--color_secondary_grey);
    border: none;
    fill: var(--color_primary_white);
    border-radius: 50%;
    height: 44px;
    width: 44px;
}
.swiper-button-next{
    transform: rotate(180deg);
}