.customers-section{
    
    &__container{
        display: flex;
        align-items: center;
        gap: 26px;
        position: relative;
        
    }
    &__rectangle{
        position: absolute;
        width: 344px;
      
        height: 130px;
 
        background-color: var(--color_secondary_grey);
        border-radius:0 0 24px 24px;
       
        overflow-y: auto;
        bottom: 75px;
        
    }



    &__customer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

    }
    &__photo{
        border-radius: 24px;
        
    }
    &__name{
        color: var(--color_primary_white);
        font-size: 24px;
        position: relative;
        top: -110px;
        line-height: 0.5;
    }
    &__text{
        color: var(--color_primary_white);
        font-size: 16px;
        position: relative;
        top: -90px;
    }
    &__icons{
        display: flex;
        
        gap: 8px;
        fill: var(--color_primary_orange);
        position: relative;
        top: -80px;
        left: -40px;

    }
    &__icon1{
        fill: var(--color_secondary_middlepurple)
    }
    &__mark{
        color: var(--color_primary_orange);
        position: relative;
        left: 40px;
    }
    &__paw-icon1, &__paw-icon2, &__paw-icon3 {
        position: absolute;
        fill: var(--color_secondary_white);
       
    }
    &__paw-icon1{
        left: 0;
        top: -150px;
        transform: rotate(45deg);
    }
    &__paw-icon2{
        left: -200px;
        bottom: -50px;
        transform: rotate(45deg);
    }
    &__paw-icon3{
        right: -200px;
        top: -150px;
        transform: rotate(-45deg);
    }
    
}
// .swiper-wrapper{
//     padding-left: 0;
  
// }
// .swiper {
//     width: 1200px;
//     height: 90%;
//   }
.swiper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: #fff;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0px !important;
}

.pagination{
    left: 20px !important;
}
