.header{
   
   position: fixed;
   left: 365px;
   top: -20px;
   padding: 0 87px;
   &.relative{
    position: relative;
    left: 0;
    top: 0;
    padding: 0;
    z-index: 1;
    &__icon1{
        
        right: 0px;
    }
    &__icon2{
        transform: rotate(45deg);
        right: 0px;
        top: 20px;
    }
   }

   background-color: var(--color_primary_white);
   z-index: 4;
    &__logos{
        display: flex;
        margin-left: 108px;
    }


    &__logo{
        fill: var(--color_primary_orange);
    }
    &__logos{
        gap: 10px;
        display: flex;
        align-items: center;
    }
    &__container{
        display: flex;
        gap: 80px;
    }
    &__nav{
        display: flex;
        gap: 80px;
    }
    &__menu{
        padding-left: 0;
        display: flex;
        gap: 48px;
        align-items: center;
        z-index: 2;
    }
    &__buttons{
        display: flex;
       gap: 24px;
    }
    &__basket{
        fill: var(--color_primary_orange);
        border: none;
        background-color: transparent;
        z-index: 4;
        &:hover{
            fill: var(--color_secondary_orange);
            cursor: pointer;
        }
      
    }
    &__icon1, &__icon2{
        position: absolute;
        fill: var(--color_secondary_white);
        z-index: -1;
    }
    &__icon1{
        transform: rotate(-45deg);
        top: -38px;
        right: 353px;
    }
    &__icon2{
        transform: rotate(45deg);
        right: 830px;
        top: -25px;
    }
}
