.hero-section{
 position: relative;
    &__BackgroundVector{
        position: absolute;
        top: -100px;
        left: 0px;
        max-height: 750px;
        z-index: -1;
        max-width: 2920px;
        width:100%;
        display: flex;
        flex-shrink: 1;
        @media screen and (min-width: $bp-desktop){
            max-height: 750px;
            z-index: -1;
            max-width: 2920px;
            width:150%;
            left: -450px;
        }
  
        
        
    }
    margin-top: 30px;
    margin-bottom: 150px;
    position: relative;
    @media screen and (min-width: $bp-tablet){
    margin-bottom: 149px;
    }
    
    &__icons{
        position: relative;
        width: 0;

        @media screen and (min-width: $bp-tablet){
            position: relative;
            max-height: 405px;
            height: 50%;
            max-width: 495px;
            width: 100%;
            // left: 139px;
        }
        @media screen and (min-width: $bp-desktop){
            max-height: 505px;
            height: 100%;
            max-width: 615px;
            width: 100%;
            // left: 0;
        }
    }
   
    &__icon1, &__icon2, &__icon3, &__icon4, &__icon5, &__icon6  {
        position: absolute;
        font-size: 4em;
        z-index: 0;
        @media screen and (min-width: $bp-tablet){
            z-index: 1;
        }
       
    }
    &__icon4, &__icon5, &__icon6{
        fill: var(--color_secondary_white);
    }
    &__icon1{
        color: var(--color_secondary_purple);
        font-size: 3em;
        top: 147px;
        right: 217px;
        @media screen and (min-width: $bp-tablet){
            top: 15px;
            right: 233px;
        };
        @media screen and (min-width: $bp-desktop){
            top: 193px;
            right: 452px;
        };
    }
    &__icon2{

        bottom: -173px;
        right: 323px;
        color: var(--color_secondary_orange);
        transform: rotate(-45deg);
        @media screen and (min-width: $bp-tablet){
            bottom: 130px;
            right: 355px; 

        }

        @media screen and (min-width: $bp-desktop){
            bottom: 3px;
            right: 520px;
        }

    }
    &__icon3{
        color:deeppink;
        font-size: 3em;
        top: 150px;
        transform: rotate(-0deg);
        right: 102px;
    @media screen and (min-width: $bp-tablet){
        top: 256px;
        right: 355px;
    }
        @media screen and (min-width: $bp-desktop){
            top: 333px;

            right: 124px;
        }

    }
    &__icon4{
        position: absolute;
        color: var(--color_secondary_white);
        display: none;
        right: 180px;
        top: 0px;
        @media screen and (min-width: $bp-desktop){
            right: 60px;
            transform: rotate(45deg);
            display: block;
            

        }
   
    }
    &__icon5{
        display: none;
        @media screen and (min-width: $bp-desktop){
            display: block;
            color: var(--color_secondary_white);
            right: 229px;
            top: 9px;
            transform: rotate(359deg);
        }
      
    }
    &__icon6{
        color: var(--color_secondary_middlepurple);
        right: 506px;
        top: 47px;
        transform: rotate(-45deg);
        z-index: -1;
    }
    &__dog-icon2, &__dog-icon1{
        position: absolute;
        border-radius: 50%;

    }
    &__dog-icon1{
        top: 51px;
        right: 366px;
        @media screen and (min-width: $bp-tablet){
            top: -20px;
            right: 400px;
        }
     
    }
    &__dog-icon2{

        right: 50px;
        top: 54px;
        @media screen and (min-width: $bp-tablet){
            right: 447px;
            top: 265px;
        }

        @media screen and (min-width: $bp-desktop){
            right: 0px;
            top: 100px;
        }

    }
    &__text{
        text-align: center;
        @media screen and (min-width: $bp-tablet){
            text-align: left;
        }
    }
    &__title{
        font-size: 32px;
        font-family: 'Rowdies', sans-serif;
        max-width: 635px;
        border-radius: 50%;
        line-height: 1;

        @media screen and (min-width: $bp-tablet){

        }
        @media screen and (min-width: $bp-desktop){
            font-size: 72px;
        }

    } 
    &__definition{
        max-width: 499px;
        

    }
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
      
        // width: 100%;
    }
    &__picture{
        border-radius: 50%;
        position: relative;
        // bottom: -150px;
        display: none;
        width: 50%;
        height: 80%;
        bottom: -50px;
        right: -170px;
            @media screen and (min-width: $bp-tablet){
                display: block;
            }

     }
    &__arrow{
        position: absolute;
        fill: var(--color_secondary_orange);
       
        display: none;
        @media screen and (min-width: $bp-tablet){
            display: block;
            top: 0;
            right: 80px; 
        }
        @media screen and (min-width: $bp-desktop){
            right: 600px;
        }
     }
    &__dog-background{
        position: absolute;
        // right: 196px;
        // top: 81px;
     
        z-index: 0;

        display: none;
            width: 70%;
            height: 120%;
            right: 85px;
            top: 0;
            @media screen and (min-width: $bp-tablet){
                display: block;
            }
        
     }
}
