.hero-section{
 position: relative;
    &__BackgroundVector{
        position: absolute;
        top: -100px;
        left: 0px;
        max-height: 750px;
        z-index: -1;
        width: 1920px;
        
    }
    margin-top: 30px;
    margin-bottom: 300px;
    position: relative;
    
   
    &__icon1, &__icon2, &__icon3, &__icon4, &__icon5, &__icon6  {
        position: absolute;
        z-index: 1;
       
    }
    &__icon4, &__icon5, &__icon6{
        fill: var(--color_secondary_white);
    }
    &__icon1{
        fill: var(--color_secondary_purple);
        top: 150px;
        right: 950px;
    }
    &__icon2{
        fill: var(--color_secondary_orange);
        bottom: 20px;
        right: 950px;
        transform: rotate(-90deg);
    }
    &__icon3{
        fill:deeppink;
        top: 300px;
        transform: rotate(75deg);
        right: 500px;
    }
    &__icon4{
        right: 650px;
        top: 90px;
    }
    &__icon5{
        right: 930px;
        top: 270px;
        transform: rotate(75deg);
    }
    &__icon6{
        right: 560px;
        top: 370px;
        transform: rotate(-45deg);
    }
    &__dog-icon2, &__dog-icon1{
        position: absolute;
        border-radius: 50%;
        z-index: 1;
    }
    &__dog-icon1{
        top: 60px;
        right: 770px;
    }
    &__dog-icon2{
        right: 570px;
        top: 100px;
    }

    &__title{
        font-size: 72px;
        font-family: 'Rowdies', sans-serif;
        max-width: 635px;
        border-radius: 50%;
        line-height: 1;
    } 
    &__definition{
        max-width: 499px;
    }
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__picture{
        border-radius: 50%;
        position: relative;
        bottom: -150px;
     }
     &__arrow{
        position: absolute;
        fill: var(--color_secondary_orange);
        top: 0;
        right: 1100px;
     }
     &__dog-background{
        position: absolute;
        right: 520px;
        top: 90px;
        transform: rotate(15deg);
        z-index: 0;
     }
}
