.services-section{
    // overflow-x: hidden;
    position: relative;
    &__icon{
        position: absolute;
        // right: 214px;
        fill: var(--color_primary_orange);
        // top: -151px;
        
    }
&__categories{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    gap: 24px;
    // flex-wrap: wrap;
    // position: relative;
}
&__title{
    font-size: 32px;
    @media screen and (min-width: $bp-desktop){
        font-size: 56px;
    }
}

&__service{
    border: 1px solid lightgray;
        border-radius: 32px;
        height: 245px !important;
        // width: 250px !important;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, rgba(255,250,243,1) 0%, rgba(255,250,243,1) 35%, rgba(255,255,255,1) 100%);;

}
&__service-name{
    color: var(--color_primary_orange);
    position: relative;
    bottom: -40px;

}

&__more{
    color: var(--color_primary_orange);
    position: relative;
    bottom: -80px;
    font-size: 18px;
    
}
&__BackgroundVector{
    position: absolute;
    top: 0px;
    left: 0;
    z-index: -2;
    max-width: 2920px;
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}
&__arrow{
    position: relative;
    bottom: -83px;
    left: -24px;
    
}
&__icon{
    z-index: -1;
}
}
.swiper2{
    position: relative;
    left: 212px; 
    max-width: 945px;
    overflow: hidden;
    @media screen and (min-width: $bp-desktop){
        overflow: visible;
    }
 
}
.swiper-button-next2{
    position: absolute;
    right: -250px;
    bottom: 0px;
    cursor: pointer;
}



.carousel .card1 {
    scroll-snap-align: start;
    height: 444px;
    max-width: 345px;
    list-style: none;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    padding: 24px;

    @media screen and (max-width: 600px){
      scroll-snap-align: center;
    }}